# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore .env files
.env

# ignore .md files
.md

# don't ignore README.md files
!README.md

# ignore .git folder
/.git


